:root {
    --hovered-background-color: rgba(255, 255, 255, 0.1);
    --selected-background-color: rgba(255, 255, 255, 0.2);
    --transition-duration: 0.3s;
    --error-color: rgba(255, 62, 63, 0.9);
    --success-color: rgba(63, 158, 66, 0.9);
    --warn-color: rgba(254, 176, 7, 0.9);
    --danger-color: rgb(255, 128, 128);
    --scrollbar-width: 6px;
    --scrollbar-track-color: var(--selected-background-color);
    --scrollbar-track-border-radius: 10px;
}

@font-face {
    font-family: "Aa小迷糊少女"; 
    src: url("@/assets/fonts/font.ttf") format("truetype"); 
}

body {
    user-select: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-image: url("@/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 100%;
    height: 100%;
    margin: 0.25em;
    padding: 0.5em;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1.5em;
    backdrop-filter: blur(3px);
    font-family: "Aa小迷糊少女";
    font-size: 1.2rem;
    color: white;
}

.page {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scrollbar-column::-webkit-scrollbar {
    width: var(--scrollbar-width);
    opacity: 0;
}

.scrollbar-column::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: var(--scrollbar-track-border-radius);
}

.scrollbar-column::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: var(--scrollbar-track-border-radius);
}

.scrollbar-column:hover::-webkit-scrollbar {
    opacity: 1;
}

.scrollbar-column:hover::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.scrollbar-column:hover::-webkit-scrollbar-thumb {
    background-color: white;
}

.scrollbar-column:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgb(192, 192, 192);
}

.input-frame {
    padding: 0.5em 1em;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 1em;
    background-color: transparent;
    color: white;
    font-family: "Aa小迷糊少女";
    font-size: 1em;
    transition: var(--transition-duration);
}

.input-frame:not(.input-frame:focus):hover {
    background-color: var(--hovered-background-color);
}

.input-frame:focus {
    background-color: var(--selected-background-color);
}

.input-frame::placeholder {
    color: rgb(192, 192, 192);
}

.with-icon {
    padding: 0.5em 1em 0.5em 2em;
    background-size: 1em;
    background-position: 0.6em center;
    background-repeat: no-repeat;
}
